{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Rest Framework - Beginners site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body> 
    <h1>Django Rest Framework - My First-Ever Implementation</h1>
    <div class="intro">
        <p>In this project I've created an API backend and linked it to a vanilla
        JavaScript frontend. This was the first point in my learning journey 
        that I've encountered JavaScript. However, in the very near future
        I will begin learning JS and React.</p>
    </div>
    <div class="form">
        <form id="postForm" method="POST" >
            <input type="text" id="title" placeholder="title">
            <input type="text" id="content" placeholder="content">
            <input type="text" id="author" placeholder="author">
            <button id="submitButton" type="submit">Submit</button>
        </form>
    </div>
    <div id="root"></div>
    <script src="{% static 'js/main.js' %}"></script>    
</body>
</html>